<!DOCTYPE html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">       
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet'>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet'>
    
    
    <title>{{personal.name}} - {{personal.jobtitle}}</title>
  </head>
  <body>
    <div id='main-wrapper'>
      <div id='information'>      
        <div id='bio'>
          <figure>
            <img src="{{personal.picture}}">
          </figure>  
          <div>
            <h1>{{personal.name}}</h1>
            <span class='job'>{{personal.jobtitle}}</span>
            <span class='location'><i class="fa fa-map-marker"></i> {{personal.location.city}}, {{personal.location.country}}</span>
          </div> 
        </div>
        <section id='profile'>
          <div class='wrapper'>
            <p>{{personal.bio}}</p>
          </div>
        </section>
        <section class='lists' id='experience'>
          <h2>Experiencia Laboral</h2>
          <div class='wrapper'>
            <ul>
            {{#exp}}           
              <li>
                <h3>{{charge}} @ <a href='{{link}}' rel='external' target='_blank'>{{place}}</a></h3>
                <span>{{start}} - {{end}}</span>
                <p>{{desc}}</p>     
              </li>          
            {{/exp}}  
            </ul> 
          </div>
        </section>
        <section class='lists' id='education'>
          <h2>Educación</h2>
          <div class='wrapper'>
            <ul>
            {{#edu}}           
              <li>
                <h3>{{title}}</h3>
                <span>{{start}} - {{end}}</span>
                <p>{{desc}}</p>     
              </li>          
            {{/edu}}  
            </ul>
          </div>
        </section>
        
     
        
        <section>
        <h2>Habilidades</h2>
         <div class='wrapper2'> 
          <h2>Lenguajes de programación</h2>             
            {{#proglanguages}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul> 
            {{/proglanguages}}      
          </div> 

         <div class='wrapper2'>
          <h2>Web</h2>               
            {{#web}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul> 
            {{/web}}      
          </div> 

        <div class='wrapper2'>
          <h2>Frameworks</h2>                
            {{#frameworks}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul> 
            {{/frameworks}}      
         </div> 

          <div class='wrapper2'>
          <h2>BBDD</h2>              
            {{#db}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul> 
            {{/db}}      
          </div>   
      </div>
      </section>
      <aside>

        <section id='details'>
          <h2>Información</h2>
          <div class='wrapper'>
            <ul>
              <li><b>Fecha de nacimiento</b> : {{details.birthday}}</li>
              <li><b>Dirección #1</b>: {{details.adress}}</li>
              <li><b>Dirección #2</b>: {{details.adress2}}</li>
              <li><b>Teléfono </b><a href='tel:{{details.phone}}'>{{details.phone}}</a></li>
              <li>
                <b>Correo</b> : <a href='mailto:{{details.email}}'>{{details.email}}</a>
              </li>
            </ul>
          </div>

        <div class='wrapper'>
          <h2>Idiomas</h2>          
            {{#idiomas}}
            <ul>
              <li>
                <p>{{name}} : {{level}}</p>
              </li>
            </ul> 
            {{/idiomas}} 
        </div>
        </section>

        <section>
          <div class='externallinks'>
           <ul>
            {{#links}}
              <li>
                <a href='{{link}}' rel='external' target='_blank'><i class="fa {{icon}} fa-2x"></i></a>
              </li>          
            {{/links}}
           </ul>
          </div>
        </section>
        <section style="text-align:center">
           <a href="sergioormenoCV.pdf" download>
                <button type="button"  class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-download-alt"></span> PDF</button>
            </a>
        </section>
      </aside>
      <footer>
        <span>
          <ul>
            <li class="copy"> 
               Original from <a href='https://gitlab.com/luisfuentes/resume' rel='external' target='_blank'>here</a>
            </li>    
          </ul>
        </span>
      </footer>  
    </div>
  </body>
</html>
